@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
  color: var(--primary-color-darker);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

:root {
  --primary-color: #5068b6;
  --primary-color-lighter: rgb(115, 136, 202);
  --primary-color-darker: #314ca7;
}
